:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(8, 131, 188, 0.653);
}

.container {
  background-color: white;
  padding: 20px 100px;
  text-align: left;
  margin: 8vh auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.input-todo {
  height: 30px;
  font-size: 18px;
  padding-left: 15px;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.submit-btn {
  font-size: 18px;
  height: 30px;
  background-color: rgb(0, 99, 205);
  color: white;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
}

.list-group {
  list-style-type: none;
  border: 0.3px solid rgb(216, 216, 216);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  border: 0.3px;
  border: 0.3px solid rgb(216, 216, 216);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 10px;
}

.completed {
  background-color: rgba(128, 207, 129, 0.674);
}
.list-item span {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list-item input {
  height: 15px;
  width: 15px;
}

.list-item div {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item button {
  background-color: rgb(198, 22, 22);
  font-size: 18px;
  height: 30px;

  color: white;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
}
